%h4 Здравствуйте, Администратор!!
%b Вы можете
%a.btn.btn-large{:href => "/news/new"} Добавить новость
%a.btn.btn-large{:href => "/users"} Изменить данные участников
%a.btn.btn-large{:href => "/blogs_posts"} Редактировать блоги
%a.btn.btn-large{:href => "/users/new"} Добавить участника
%p
  %a.btn{:href => "/admins/logout"} Выйти
