= stylesheet_link_tag "participant/welcome"
.row-fluid
  .span6.main_text
    %h2 Привет, полуфиналист конкурса "Я-лидер!"
    %p
      Ещё раз поздравляем тебя с победой на "Ярмарке идей" и напомнаем, что в рамках 2 уровня II этапа XII конкурса актива учащейся молодёжи "Я-лидер!" тебе необходимо вместе с командой единомышленников применить на практике полученные ранее знания, придумать, организовать и провести социально значимое мероприятие.
    %p
      %b ВНИМАНИЕ!
      Подготовку мероприятия следует подробно описывать в Дневнике участника. Это один из двух обязательных документов, которые должны быть у каждого полуфиналиста. Перейти в твой дневник участника
    %p
      Согласно п.5.2.2. Положения, все участники обязаны за неделю до начала мероприятия сообщить о дате его проведения в МИЦ.
    %p
      %b ВНИМАНИЕ!
      Чтобы сообщить нам о своём мероприятии тебе необходимо заполнить на этом сайте форму "Анонс мероприятия". Познакомься с ней сейчас, чтобы понимать, что предстоит указать.
    %p
      По итогам проведённого мероприятия участникам необходимо представить в МИЦ творческий отчёт.
    %p
      %b Внимание!
      Отчёт предстоит также заполнить на данном сайте прикрепив к нему как можно больше материалов (фото, видео, отзывы и т.п.). Последний день заполнения творческого отчёта - 15 апреля 2014 года. Перейти к заполнению Творческого отчёта
    %p
      Если будут вопросы, всегда готовы на них ответить.
    %p
      %h3
        Желаем удачи!
  .span5
    = render "blogs"
