.text
  %span
    Просим тебя не заполнять заявку, не прочитав
    %a{ href: competition_welcome_path }
      Положениe о конкурсе "Я-лидер!"
  %br
  %span
    Сейчас тебе предстоит указать в анкете свои контактные данные, а после прикрепить творческую работу, раскрывающую тему
    %b
      «Кого лидер ведёт за собой?».

%br
%span
  %b ВНИМАНИЕ!
  Твоя заявка может не загрузиться на сайт:
%ul
  %li из-за низкой скорости соединения;
  %li если ты заполнил не все обязательные поля;
  %li если ты загрузил файл, размер которого превышает допустимый - 25 мегабайт.
%span Если заявка не загружается, просим перенаправить её на наш почтовый адрес: ul.molcenter@gmail.com
%br
%span
  Все полученные заявки находятся в списке участников, размещённом
  %a{ href: users_path }
    ЗДЕСЬ
%br
%span Просим следить за этим разделом. Если все замечания по оформлению заявки (например, если мы не получим творческую работу, она не будет открываться или др.) не будут устранены по окончании срока приёма работ, то твоя заявку рассмотрена не будет.
