= render 'office'

- if @user.project.nil?
  %a.btn.btn-large.btn-success{:href => "../create_project"} Создать описание проекта |
- else
  %a.btn.btn-large.btn-success{:href => "/projects/#{@user.project.id}/edit"} Изменить описание проекта |
- if @user.report.nil?
  %a.btn.btn-large.btn-success{:href => "/create_report"} Создать отчёт о мероприятии |
- else
  %a.btn.btn-large.btn-success{:href => "/reports/#{@user.report.id}/edit"} Изменить отчёт о мероприятии |
- if session[:user_id] === @user.id
  %a.btn.btn-large.btn-success{:href => "users/#{@user.id}/edit"} Изменить аккаунт
