.row.top_row
  - @blog_posts.each do |b|
    %a{ href: blog_post_path(b.id) }
      .well
        %h5= b.user.small_name
        %h4= b.title
        %p
          != strip_tags b.text.first(500)
        %b ...
    %h5
      ='Блоги пока что пусты...' if BlogPost.count == 0
    %hr
