%h1 Добрый день!
.text
  %span Областной конкурс актива учащейся молодёжи «Я-лидер!» - это не просто конкурс, а комплекс мероприятий, которые позволяют не только познакомиться, но и научиться технологиям лидерства.
  %br
  %span На разных площадках, организованных в рамках «Я-лидера!», конкурсанты учатся методам командообразования, планирования деятельности, технике публичных выступлений и управлению проектами, что позволяет полноценно готовить лидеров общественного сектора.
  %br
  %br
  = render 'market_dreams'
  = render 'time_of_real_deals'
