.well
  %h4 Новости конкурса
  - @news.each do |news|
    %a{:href => "/news/#{news.id}"}
      %h4= news.title
      %p
        != strip_tags news.body.first(600)
        %b ...
      %small= news.pusblished_at
    %hr
