%h2 Добрый день!
.text
  %span Областной конкурс актива учащейся молодёжи «Я-лидер!» - это не просто конкурс, а комплекс мероприятий, которые позволяют не только познакомиться, но и научиться технологиям лидерства.
  %br
  %span На разных площадках, организованных в рамках «Я-лидера!», конкурсанты учатся методам командообразования, планирования деятельности, технике публичных выступлений и управлению проектами, что позволяет полноценно готовить лидеров общественного сектора.
  %br
  %br
  - unless user_signed_in?
    %p{ align: :center }
      %a{ href: new_user_path, class: 'btn btn-success btn-large' }
        = t('apply_for_participation_on_competition')
        %br
        = t('i_am_lider')
      %br
      %br
      Если ты уже подал заявку, то можешь зайти в свой аккаунт
      %br
      = link_to t('sign_in'), new_session_path, class: 'btn btn-info'
