%h3 Участники
.row.top_row
  - if @users.blank?
    Список участников пуст.
    %br
    = link_to t('.be_the_first'), new_user_path, class: 'btn btn-success'
  - @users.each do |user|
    .span1.user_ot
      %a{ href: user_path(user) }
        %img.mini_equal_size.img-circle.small{ src: user.avatar.thumb_fill }
      %a{ href: user_path(user) }
        %small.very_small_text= user.first_name
        %br
        %small.very_small_text= user.middle_name
- unless @users.blank?
  .row
    %p{ align: :center }
      = link_to t('.view_competitors_list'), users_path, class: 'btn btn-primary'
