- if current_stage_ratings_published?
  .well.center
    %h4
      = t '.ratings_for_stage', stage_title: current_stage.title
    = link_to t('.view_ratings'), ratings_path(current_stage), class: 'btn btn-primary'
