%h1 ПОЛОЖЕНИЕ
%h1 об XII областном конкурсе актива учащейся молодёжи
%h1 "Я - лидер!"
%h2 1. Общие положения, цели и задачи конкурса
%p 1.1 Областной конкурс актива учащейся молодёжи «Я-лидер!» (далее - Конкурс) - полноценный механизм подготовки лидеров общественного сектора. Не смотря на то, что в основу заложен конкурсный механизм, все этапы выполняют образовательную функцию –  разработаны таким образом, чтобы последовательно предоставить молодому человеку теоретические знания в области лидерства, проектного менеджмента и дать возможность применить все полученные знания на практике.
%b 1.2 Цель Конкурса – выявление, поддержка  молодёжных лидеров к созданию в муниципальных образованиях Ульяновской области реально действующих молодёжных команд и их стимулирование к социально значимой деятельности.
%p
  %b 1.3 	Задачи:
%ul
  %li выявление и поддержка молодых людей с активной гражданской позицией;
  %li развитие лидерских и организаторских способностей у молодёжи;
  %li поддержка инициативной молодёжи.
%br
%h2 2. Статус конкурса, его учредители и их полномочия
%p 2.1 Настоящий конкурс утверждён в статусе "областной"
2.2 Учредителем и автором Конкурса является Ульяновская областная молодёжная общественная организация «Молодёжный инициативный центр» (далее – МИЦ). Партнёрами Конкурса выступают: Министерство образования и науки Ульяновской области, Министерство внутренней политики Ульяновской области, Общество с ограниченной ответственностью «Хэдхантер» (далее  -  компания «HeadHunter»).
2.3 МИЦ обеспечивает организацию и проведение мероприятий на всех этапах, консультирует участников и всех заинтересованных лиц, ведёт приём заявок и утверждает состав жюри.
%p МИЦ непосредственно обеспечивает проведение 1 уровня 2 этапа Конкурса; выдвигает победителя на присуждение премии для поддержки талантливой молодёжи в рамках реализации приоритетного национального проекта «Образование».
%p 2.4 Министерство образования и науки Ульяновской области, Министерство внутренней политики Ульяновской области и компания"HeadHunter" обеспечивают распространение информации о Конкурсе по его целевой аудитории (раздел III), создают условия и содействуют Учредителю в реализации всех этапов мероприятия.
%p
  2.5 Учредитель и Партнёры имеют право распространять информацию о Конкурсе, формировать составы организационного комитета, а также вносить изменения в настоящее Положение, размещая информацию об этом в официальном разделе Конкурса на сайте
  %a{ href: "http://ulmic.ru" } http://ulmic.ru
%p 2.6 Жюри каждого этапа формируется Учредителем Конкурса не позднее, чем за неделю до начала оценки представленных материалов. Учредитель оставляет за собой право формировать новый состав жюри на каждое конкурсное испытание отдельно.
%br
%h2 3. Участники конкурса
%p Участниками Конкурса могут быть учащиеся образовательных организаций общего, профессионального и высшего профессионального образования Ульяновской области. Допустимый возраст участников - от 14 до 20 лет (на дату проведения финала конкурсанту не должно быть  21 года).
%br
%h2 4. Сроки проведения
%p Конкурс проводится с 01 декабря 2013 года по 31 мая 2014 года. Конкурс проводится в II этапа:
%p
  %b I этап (муниципальный) – «Время быть лидером» с 01.12.2013 -по 06.02.2014 г.
%p
  %b II этап (региональный) с 06 февраля 2014 г. по 31 мая 2014 г. проводится по системе выбывания и разделён на три уровня:
%p
  %b 1 уровень (очный) – «Ярмарка идей» - профильная смена актива  учащейся молодёжи  (февраль 2014 г.) – комплексный образовательный семинар, проводимый на базе ОГБОУ ДОД ОДООЦ «Юность»;
%p
  %b 2 уровень (заочный) – «Время реальных дел» (25 февраля – 20 апреля 2014 г.) – проведение конкурсантами мероприятий по своим авторским разработкам;
%p
  %b 3 уровень (очный) – «Лидер и его команда» (май 2014 г.) – финальные испытания в городе Ульяновске.
%br
%h2 5. Порядок проведения и содержание конкурсных испытаний
%p
  %b 5.1. I этап (муниципальный) – «Время быть лидером».
%p 5.1.1. Для участия в Конкурсе желающие должны подготовить и направить Учредителю творческую работу на тему «Время быть лидером». Работа должна включать размышления конкурса, а также описание его заслуг и достижений, ответ на вопрос «являешься ли ты лидером?». Работа может быть подготовлена в любой форме, которую можно подать на Конкурс, согласно раздела VII настоящего положения.
%p
  5.1.2. Участникам необходимо заполнить анкету–заявку на сайте
  %a{ href: "http://ulmic.ru" }
    http://ulmic.ru
  и прикрепить к ней ссылку на видео, либо направить в МИЦ на электронном носителе (CD, DVD, флеш-накопитель) любым допустимым способом (указаны в раздела VII положения)
  %u
    не позднее  20 января 2014 года.
%p 5.1.3. Причины отклонения поступивших на Конкурс материалов:
%ul
  %li работа была передана Учредителю после 00:00 21 января 2014 г. или в нарушение отдельных требований раздела VII настоящего положения;
  %li заполнены не все пункты анкеты-заявки, либо в неё внесены сведения, не соответствующие действительности;
  %li участник, представивший работу, не соответствует разделу III настоящего положения и/или его работа не соответствует требованиям, предъявляемым п.5.1.
%p 5.1.4. Критерии по оценке, поступивших на Конкурс работ:
%ul
  %li аргументированность и авторство;
  %li анализ лидерских качеств;
  %li раскрытие темы;
  %li нестандартность и творческий подход;
  %li выполнение требований, указанных в положении.
%p
  5.1.5. С 21 по 24 января 2014 г. Учредитель оценивает все конкурсные материалы на предмет соответствия требованиям Положения, затем передаёт на оценку членам жюри. В срок до 06 февраля 2014 г. на сайте
  %a{ href: "http://ulmic.ru" }
    http://ulmic.ru
  размещается итоговый рейтинг заявок. На основании оценок жюри Учредитель допускает до участия во II этапе Конкурса авторов не более 120 лучших работ.
%p
  %b 5.2. II этап – региональный:
%p Во II этапе конкурса участникам будут присваиваться баллы (суммируются баллы за 1, 2 и 3 уровни).
%p
  %b 5.2.1. 1 уровень (очный) - «Ярмарка идей».
Победители I этапа конкурса приглашаются на профильную смену актива учащейся  молодёжи «Ярмарка идей», которая пройдёт в ОГБОУ ДОД ОДООЦ «Юность» в феврале 2014 г. в соответствии с графиком Министерства образования и науки Ульяновской области.
%p В рамках «Ярмарки идей» участники пройдут комплексное знакомство и обучение основам лидерских технологий, командообразования, конфликтологии, организации массовых мероприятий, таймменеджмента, пиара и массовых коммуникаций, а также пройдут конкурсные испытания, не требующие предварительной подготовки:
%ul
  %li собеседование;
  %li интеллектуальное испытание;
  %li дискуссионная площадка;
  %li активное участие в программе «Ярмарки идей». Баллы выставляются по решению жюри.
%p 20 участников «Ярмарки идей», набравшие в ходе 1 уровня II этапа максимальное количество баллов, допускаются до участия во 2 уровне II этапа конкурса.
%p
  %b 5.2.2. 2 уровень (заочный) - «Время реальных дел».
  На данном уровне конкурсантам необходимо вместе со своей командой единомышленников применить на практике знания, полученные на предыдущем уровне Конкурса - придумать, организовать и провести социально значимое мероприятие в своём муниципальном образовании.
%p Участники обязаны за неделю до начала мероприятия сообщить о дате его проведения Учредителю для организации возможного присутствия представителя оргкомитета или жюри, а также для информационного освещения мероприятия.
%p По итогам проведённого мероприятия участникам необходимо представить в МИЦ творческий отчёт и дневник полуфиналиста (способы передачи материалов в оргкомитет указаны в разделе VII настоящего положения), оформленные по образцу, размещённому на сайт www.ulmic.ru.
%p Срок подачи творческого отчёта - не позднее 15 апреля 2014 года. Отчёты, полученные после указанной даты, до оценки не допускаются.
%p
  %u Критерии оценки материалов:
%ul
  %li личный вклад конкурсанта в организацию и проведение мероприятия;
  %li актуальность темы, выбранной для мероприятия;
  %li разноплановость и эффективность методов работы с участниками мероприятия;
  %li количество положительных отзывов от участников и гостей мероприятия;
  %li использование новых форм;
  %li количество участников мероприятия.
%p
  Оценка творческих отчётов проходит с 15 по 20 апреля 2014 г. В течение 3 дней после окончания оценки результат размещается на сайте
  %a{ href: "http://ulmic.ru" }
    http://ulmic.ru.
  На основании оценок жюри 8 лучших конкурсантов допускаются до участия в финальных испытаниях 3 уровня II этапа Конкурса.
%p
  %b 5.2.3. 3 уровень - «Лидер и его команда».
  В конкурсных испытаниях этого уровня конкурсант принимает участие вместе со своей командой, которая не должна состоять более чем из 10 человек (включая конкурсанта). Информация о месте, времени и программе размещается на сайте
  %a{ href: "http://ulmic.ru" }
    http://ulmic.ru
  не позднее чем за 14 дней до мероприятия. Программа конкурсного дня состоит из 3 блоков:
%p I блок - «Инновационная разработка»
%p
  Описание блока: конкурсант должен подготовить собственный мастер-класс на заданную тему (по результатам жеребьёвки) и провести его в незнакомой аудитории. Длительность мастер-класса не должна превышать 45 минут. Участник обязан представить в оргкомитет Конкурса тезисы своего мастер-класса не позднее 10 мая 2014 г., прислав их на адреса:
  %a{ href: "mailto:lider@ulmic.ru" }
    lider@ulmic.ru
  %a{ href: "mailto:ul.molcenter@gmail.com" }
    ul.molcenter@gmail.com
  МИЦ берёт предоставляет площадку для проведения мероприятия. Материалы, необходимые для презентации инновационной разработки, участник изыскивает самостоятельно.
%p
  %u Критерии оценки:
%ul
  %li качество проведения;
  %li владение теоретическим материалом;
  %li доступность изложения материала;
  %li актуальность информации;
  %li применение тренинговых технологий;
  %li увлечённость и заинтересованность аудитории.
%p II блок - «Лидер. Управленец. Организатор»
%p Описание блока: конкурсанту вместе с командой предстоит выполнить задание, в ходе которого необходимо применить организаторские, лидерские и управленческие способности. Конкурсанты получают задание после прибытия на место проведения финального конкурсного дня.
%p
  %u Критерии оценки:
%ul
  %li конструктивность работы с командой;
  %li точность выполнения задания;
  %li приёмы работы с командой;
  %li эффективность распределения задач.
%p III блок - «Стать лучшим»
%p Описание блока: каждый участник за 2 недели до мероприятия получит тему, в рамках которой он должен будет презентовать себя и свою команду на сцене. Выступление не должно превышать 7 минут. Оргкомитет предоставляет видео–проектор, световое оборудование и  музыкальную аппаратуру. Другой  реквизит и оборудование, необходимое для выступления участники готовят самостоятельно. Выступления, участников проходят предварительный просмотр и редактуру. На протяжении всей презентации конкурсант обеспечивает присутствие рядом со звукорежиссёром своего представителя, способного ответить на все вопросы по выступлению.
%p
  %u Критерии оценки:
  %li творческий подход;
  %li оригинальность;
  %li качество выступления;
  %li соответствие теме;
  %li режиссура;
  %li артистичность;
  %li соответствие заданному хронометражу.
%br
%h2 6. Подведение итогов Конкурса
%p 6.1. Победителями Конкурса становятся трое участников 3 уровня, набравшие наибольшее суммарное количество баллов на II этапе.
%p 6.2. Один победитель Конкурса выдвигается на присуждение премии по поддержке талантливой молодёжи в рамках реализации приоритетного национального проекта «Образование».
%p 6.3. Призами и дипломами награждаются участники и их команды, занявшие 2, 3 места по итогам 3 уровня II этапа Конкурса.
%br
%h2 7. Дополнительные положения
%p Конкурсные материалы на всех этапах конкурса Учредитель принимает одним из следующих способов:
%ul
  %li на сайте МИЦ www.ulmic.ru;
  %li
    на электронную почту
    %a{ href: "mailto:lider@ulmic.ru" }
      lider@ulmic.ru
    В копии письма следует указать
    %u ul.molcenter@gmail.com.
    Материалы считаются принятыми только после подтверждения их получения по телефону
    %b 8 (8422) 96-43-37;
  %li
    направляются по почте:
    %b 432000, Ульяновский почтамт, абонентский ящик 5046, пометка «Я – лидер»;
  %li
    лично в офисе МИЦ по адресу:
    %b г. Ульяновск, ул. Минаева, 50 (Областной дворец творчества детей и молодёжи).
= link_to t('back'), root_path, class: 'btn btn-large'
