%h1 ПОЛОЖЕНИЕ
%h1 об XI областном конкурсе актива учащейся молодёжи
%h1 "Я - лидер!"
%h2 1. Общие положения, цели и задачи конкурса
%p 1.1 "Я - лидер" - это не просто конкурс, а комплекс мероприятий, которые позволяют не только познакомить, но и научить молодёжь Ульяновской области технологиям лидерства. На разных площадках, организованных в рамках реализации Конкурса, участники учатся методам командообразования, планирования деятельности, технике публичных выступлений и управлению проектами Конкурса рассчитана таким образом, чтобы последовательно предоставить молодому человеку теоритические знания в области лидерства, проектного менеджмента и дать возможность применить все полученные знания на практике.
%b 1.2 Цель 
областного конкурса актива учащейся молодёжи "Я - лидер!" (далее Конкурс) - стимулирование социально-значимой деятельности обучающихся, создания общественных организаций как механизма реализации социально-значимых молодёжных инициатив.
%p
  %b 1.3 	Задачи:
%ul
  %li развитие лидерских и организаторских способностей обучающихся
  %li поддержка талантливой молодёжи
  %li созданий условий для формирования активной жизненной позиции
%br
%h2 2. Статус конкурса, его учредители и их полномочия
%p 2.1 Настоящий конкурс утверждён в статусе "областной"
2.2 Учредителями конкурса являются: Ульяновская областная молодёжная общественная организация "Молодёжный инициативный центр" (далее МИЦ), Министерство внутренней политике в лице Департамента молодёжной политики Ульяновской области, Министерство образования Ульяновской области.
2.3 МИЦ обеспечивает организацию и проведение мероприятия на всех этапах, консультирует участников и всех заинтересованных лиц, ведёт приём заявок и утверждает состав жюри.
%p Департамент молодёжной политики Министерства внутренней политики Ульяновской области финансирует мероприятие конкурса, согласно сметам об их проведении; организует взаимодействие с муниципиальными образованиями по распространению информации о конкурсе, направлению участников на мероприятия конкурса.
%p Министерство образования Ульяновской области организует взаимодействие с муниципиальными образованиями по распространениями по распространению информации о конкурсе, направлению участников на мероприятии конкурса; обеспечивает проведение 1 уровня 2 этапа конкурса; организует работу по подготовке документации 
я конкурса на присуждение премии для поддержки талантливой молодёжи в рамках реализации проиоритетного национального проекта "Образование".
%p 2.4 Учредители имеют право распространять информацию о конкурсе, формировать составы организационного комитета, жюри Конкурса, а также вносить изменения в настоящее Положения, размещая информацию об этом заранее в официальном разделе конкурса на сайте
%a{:href => "http://ulmic.ru"} http://ulmic.ru
%p 2.5 Жюри каждого этапа 	формируется Учредителями Конкурса не позднее, чем за неделю до начала оценки. Учредитель оставлять за собой право формировать новые составы экспертов на каждое конкурсное испытание.
%br
%h2 3. Условия участия в конкурсе
%p 3.1 В конкурсе могут  принимать участие обучающихся средних общеобразовательных учреждений, учреждений начального, среднего и высшего профессионального в возрасте от 14 до 17 лет.
%br
%h2 4. Сроки проведения
%p Конкурс актива учащейся молодёжи «Я-лидер!» проводится в Ульяновской области ежегодно с 2002 года. По традиции, испытания проводятся в II этапа:
%p 
  %b I этап (заочный) – «Время быть лидером» (26.10.12 - 10.03.13). 
%p 
  %b II этап (региональный) – с 01 февраля 2013 г. по 10 марта 2013 г.), проводится по системе выбывания и разделён на три уровня:
%p 
  %b 1 уровень (очный) – «Ярмарка идей» (14-18 апреля 2013 г.) ­­– образовательная площадка на базе детского оздоровительно - образовательного центра «Юность»;
%p 
  %b 2 уровень (заочный) – «Время реальных дел» (19 апреля 2013 г. – 10 мая 2013 г.) – проведение мероприятий по авторским разработкам участников.
%p 
  %b 3 уровень (очный) – «Лидер и его команда» (май – август 2013 г.) – финал конкурса.
%br
%h2 5. Порядок проведения и содержание конкурсных испытаний
%p 
  %b 5.1. I этап (заочный) – «Кого лидер ведёт за собой?». 
Участникам необходимо заполнить анкету–заявку на сайте 
%a{:href => "www.ulmic.ru"} www.ulmic.ru 
и прикрепить к ней творческую работу, либо направить её в Оргкомитет конкурса любым допустимым способом (указаны в п.8 настоящего Положения) до 10 марта 2013 года (в этот день анкета-заявка и творческая работа участника должна находиться в офисе МИЦ). Творческая работа должна раскрывать тему «Кого лидер ведёт за собой?» и выполнена в следующих формах:
%ul
  %li Видео-ролик. Технические требования: формат AVI, mp3, wav, продолжительность не более 10 минут. На первом кадре обязательно указать имя и фамилию, образовательное учреждение, номер мобильного телефона, e-mail.
  %li Компьютерная презентация. Технические требования: формат Microsoft Power Point 93-07 версии, не более 20 слайдов, настройка воспроизведения слайдов в автоматическом режиме, на первом слайде обязательно указать имя и фамилию, образовательное учреждение, номер мобильного телефона конкурсанта, e-mail.
  %li Эссе. Технические требования: формат Microsoft Word 93-07 версии, объём не должен превышать 3 страниц печатного текста, шрифт - Times New Roman, кегль – 14, интервал – полуторный, обязательно наличие титульного листа с указанием имени и фамилии, образовательного учреждения, номер мобильного телефона конкурсанта, e-mail. 
  %li Собственное творческое решение. Возможные способы подачи конкурсной работы в данном формате: песня собственного сочинения, стихотворение, сказка, сценарий спектакля, комикс, компьютерное приложение, макет и любые другие авторские решения. Технические требования: творческая работа должна быть транспортабельна. 
%p При подаче конкурсной работы в форме видео и аудио, категорически запрещается включать в неё персональные данные автора: мобильный телефон, домашний адрес и т.п. Исключение составление – ФИО участника. 
%p 
  %u Конкурсные работы должны соответствовать следующим критериям:
%ul
  %li авторство;
  %li творческий подход;
  %li наличие анализа лидерских качеств;
  %li нестандартность;
  %li выполнение требований Положения.

%p Экспертная оценка творческих работ будет проходить с 15 по 30 марта 2013 г.
%p На основании оценок жюри, авторы 140 лучших работ переходят к участию во II этапе конкурса. Список с именами победителей I этапа будет размещён на сайте www.ulmic.ru и направлен в муниципальные образования не позднее 31 марта 2013 г.

%p 5.2. II этап – региональный:

%p 5.2.1. 1 уровень (очный) - «Ярмарка идей». Победители I этапа конкурса, приглашаются на профильную смену актива учащейся молодёжи «Ярмарка идей», которая пройдёт в ОГБОУ ДОД ДООЦ «Юность» с 14 по 18 апреля 2013 г.
%p На основании оценок жюри, авторы 140 лучших работ переходят к участию во II этапе конкурса. Список с именами победителей I этапа будет размещён на сайте 
%a{:href => "http://ulmic.ru"} www.ulmic.ru 
и направлен в муниципальные образования не позднее 31 марта 2013 г.
%p 
  %b 5.2. региональный II – этап:

%p 
  %b 5.2.1. 1 уровень (очный) - «Ярмарка идей». 
Победители I этапа конкурса, приглашаются на профильную смену актива учащейся молодёжи «Ярмарка идей», которая пройдёт в ОГБОУ ДОД ДООЦ «Юность» с 14 по 18 апреля 2013 г.
>>>>>>> 41e0a72245b9f33031fb60cec23d170e43ecc1a9
%p В этом этапе участники будут получать баллы исходя из качества прохождения нескольких конкурсных испытаний, которые не требуют предварительных физической и интеллектуальной подготовок. 
%p Участникам данного уровня предстоит пройти: 
%ul
  %li собеседование;
  %li психологический тренинг;
  %li интеллектуальное испытание;
  %li дискуссионную площадку;
  %li другие конкурсы.
%p После суммирования баллов, полученных участниками за каждое конкурсное испытание, определяются 20 лучших конкурсантов, которые переходят во 2 уровень II этапа конкурса.

%p 5.2.2. 2 уровень (заочный) - «Время реальных дел». На данном уровне конкурсантам необходимо вернуться в свои муниципальные образования, сформировать вокруг себя команду единомышленников  и вместе с ними применить на практике знания, полученные на «Ярмарке идей» - придумать, организовать и провести мероприятие в своём муниципальном образовании или учебном учреждении. 
%p Участники должны за неделю сообщить о дате проведения своего мероприятия учредителям конкурса для организации возможного присутствия представителя Оргкомитета, а также для информационного освещения мероприятия.
%p По итогам проведённого мероприятия участники должны представить в Оргкомитет конкурса творческий отчёт (способы передачи материалов в оргкомитет указаны в п.7.1 настоящего Положения), оформленный по выданному образцу и размещённому на сайте МИЦ. 
%p Срок подачи творческого отчёта - не позднее 11 мая 2013 года. Отчёты, полученные после указанной даты, к оценке не допускаются. 
%p Критерии оценки мероприятий:
%ul 
%p 
  %b 5.2.2. 2 уровень (заочный) - «Время реальных дел». 
На данном уровне конкурсантам необходимо вернуться в свои муниципальные образования, сформировать вокруг себя команду единомышленников  и вместе с ними применить на практике знания, полученные на «Ярмарке идей» - придумать, организовать и провести мероприятие в своём муниципальном образовании или учебном учреждении. 
%p Участники должны за неделю сообщить о дате проведения своего мероприятия учредителям конкурса для организации возможного присутствия представителя Оргкомитета, а также для информационного освещения мероприятия.
%p По итогам проведённого мероприятия участники должны представить в Оргкомитет конкурса творческий отчёт (способы передачи материалов в оргкомитет указаны в п.7.1 настоящего Положения), оформленный по выданному образцу и размещённому на сайте МИЦ. 
%p Срок подачи творческого отчёта - не позднее 11 мая 2013 года. Отчёты, полученные после указанной даты, к оценке не допускаются. 

%p Критерии оценки мероприятий:
%ul

  %li личный вклад конкурсанта в организацию и проведение мероприятия;
  %li разноплановость и эффективность методов работы с участниками мероприятия;
  %li актуальность темы, выбранной для мероприятия;
  %li количество положительных отзывов от участников и гостей мероприятия;
  %li использование новых форм проведения мероприятия;
  %li предварительная работа с командой.
  %li количество участников мероприятия;

%p Оценка творческих отчётов проходит с 11 по 20 мая 2013 г. На основании оценок жюри, 8 лучших конкурсантов допускаются до участия в финальных испытаниях 3 уровня II этапа конкурса.

%p 5.2.3. 3 уровень - «Лидер и его команда». Конкурсные испытания этого уровня участник должен проходить вместе со своей командой, которая не должна превышать количества 10 человек (включая конкурсанта). Конкурсный день финальных испытаний состоит из 3 блоков:

%p I блок - «Инновационные разработки»
%p Описание блока: конкурсант должен подготовить собственный мастер-класс на заданную тему (по результатам жеребьёвки) и провести его с аудиторией школьников. Длительность мастер-класса не должна превышать 45 минут. Помимо этого участник должен представить в Оргкомитет конкурса тезисы своего мастер-класса не позднее 20 мая 2013 г., прислав их по адресу: lider@ulmic.ru, ul.molcentr@gmail.com. Оргкомитет конкурса берёт на себя подготовку технического оборудования для работы площадки. Дополнительные материалы, необходимые для работы, участник готовит самостоятельно.

%p 
  %b 5.2.3. 3 уровень - «Лидер и его команда». 
Конкурсные испытания этого уровня участник должен проходить вместе со своей командой, которая не должна превышать количества 10 человек (включая конкурсанта). Конкурсный день финальных испытаний состоит из 3 блоков:

%p 
  %b I блок - «Инновационные разработки»
%p 
  %u Описание блока: 
конкурсант должен подготовить собственный мастер-класс на заданную тему (по результатам жеребьёвки) и провести его с аудиторией школьников. Длительность мастер-класса не должна превышать 45 минут. Помимо этого участник должен представить в Оргкомитет конкурса тезисы своего мастер-класса не позднее 20 мая 2013 г., прислав их по адресу: lider@ulmic.ru, ul.molcentr@gmail.com. Оргкомитет конкурса берёт на себя подготовку технического оборудования для работы площадки. Дополнительные материалы, необходимые для работы, участник готовит самостоятельно.

%p Критерии оценки:
%ul 
  %li качество проведения;
  %li актуальность информации;
  %li владение теоретическим материалом;
  %li применение тренинговых технологий;
  %li доступность изложения материала;
  %li увлечённость и заинтересованность аудитории.

%p II блок - «Лидер. Управленец. Организатор»
%p Описание блока: конкурсанту вместе с командой предстоит выполнить задание, в ходе которого необходимо применить организаторские, лидерские и управленческие способности. Конкурсанты получают задания по прибытию на базу проведения финального конкурсного дня.
%p Критерии оценки:
%ul 

%p 
  %b II блок - «Лидер. Управленец. Организатор»
%p 
  %u Описание блока: 
конкурсанту вместе с командой предстоит выполнить задание, в ходе которого необходимо применить организаторские, лидерские и управленческие способности. Конкурсанты получают задания по прибытию на базу проведения финального конкурсного дня.
%p Критерии оценки:
%ul
  %li конструктивность работы с командой;
  %li точность выполнения задания;
  %li приёмы работы с командой;
  %li эффективность распределения задач.

%p III блок - «Стать лучшим»
%p Описание блока: каждый участник за 2 недели до мероприятия получит тему, в рамках которой он должен будет презентовать себя и свою команду на сцене. Выступление не должно превышать 7 минут. Оргкомитет предоставляет видео–проектор, световое оборудование и  музыкальную аппаратуру, другой  реквизит и оборудование, необходимое для выступления участники готовят самостоятельно. По усмотрению Учредителя, проводится предварительный отсмотр всех номеров. Приглашённый профессиональный режиссёр может убрать из выступления любой из моментов из-за его некачественной предварительной подготовки. 
%p Критерии оценки:
%ul 

%p 
  %b III блок - «Стать лучшим»
%p 
  %u Описание блока: 
каждый участник за 2 недели до мероприятия получит тему, в рамках которой он должен будет презентовать себя и свою команду на сцене. Выступление не должно превышать 7 минут. Оргкомитет предоставляет видео–проектор, световое оборудование и  музыкальную аппаратуру, другой  реквизит и оборудование, необходимое для выступления участники готовят самостоятельно. По усмотрению Учредителя, проводится предварительный отсмотр всех номеров. Приглашённый профессиональный режиссёр может убрать из выступления любой из моментов из-за его некачественной предварительной подготовки. 
%p Критерии оценки:
%ul
  %li творческий подход;
  %li режиссура;
  %li оригинальность;
  %li артистичность;
  %li соответствие теме;
  %li соответствие заданному хронометражу.
  %li качество выступления.
%br
%h2 6. Подведение итогов Конкурса

%p 6.1. Победителем Конкурса становится участник 3 уровня II этапа, набравший наибольшее суммарное количество баллов на протяжении всего конкурса.
%p 6.2. Один победитель конкурса выдвигается на присуждение премии по поддержке талантливой молодёжи в рамках реализации приоритетного национального проекта «Образование».
%p 6.3. Памятными подарками и дипломами награждается команда участника - победителя конкурса.
%p 6.4. Призами и дипломами награждаются участники и их команды, занявшие 2, 3 места по итогам 3 уровня II этапа.
%br
%h2 7. Дополнительные положения

%p 7.1. Материалы на конкурс, направляются Учредителям одним из следующих способов:
%ul
  %li закачиваются на сайт миц с помощью специальной интернет-системы приёма файлов (www.ulmic.ru/ya-lider);
  %li если формат и объём материала это позволяет, то он направляется на электронную почту lider@ulmic.ru. В копии письма следует указать ul.molcenter@gmail.com;
  %li направляются по почте: 432000, г.Ульяновск, ул. Гончарова, 9/62, абонентский ящик 5046, пометка «Я – лидер».
%p Материал считается зарегистрированным после подтверждения их получения по телефону 8-902-245-13-16
%p 7.2. Адреса учредителей:

%p 7.2.1. Департамент молодёжной политики Министерства внутренней политики Ульяновской области
%p Для почтовых отправлений: 432011, г. Ульяновск, ул. Спасская (быв.Советская), д. 18, тел/факс: 8 (8422) 41-79-21
%ul  
  %li закачиваются на сайт миц с помощью специальной интернет-системы приёма файлов 
  %a{:href => "http://ulmic.ru/ya-lider"} (www.ulmic.ru/ya-lider);
  %li если формат и объём материала это позволяет, то он направляется на электронную почту lider@ulmic.ru. В копии письма следует указать ul.molcenter@gmail.com;
  %li направляются по почте: 432000, г.Ульяновск, ул. Гончарова, 9/62, абонентский ящик 5046, пометка «Я – лидер».
Материал считается зарегистрированным после подтверждения их получения по телефону 8-902-245-13-16
%p 7.2. Адреса учредителей:

%p 7.2.1. Департамент молодёжной политики Министерства внутренней политики Ульяновской области
Для почтовых отправлений: 432011, г. Ульяновск, ул. Спасская (быв.Советская), д. 18, тел/факс: 8 (8422) 41-79-21

%p 7.2.2. Ульяновская областная молодёжная общественная организация «Молодёжный инициативный центр»
%p Офис: 432063, г. Ульяновск, ул. Минаева, д. 50, кааб. 102.
%p Тел.: 8 (8422) 96-43-37. Сайт: www.ulmic.ru.
%p E-mail: activ@ulmic.ru, ul.molcenter@gmail.com 
%p Ответственные за конкурс: 8-902-245-13-16, Павел Андреев; 8-917-635-60-21, Елена Титова.
