%h1 Этапы конкурса
%h2 1. «Время быть лидером»
%h4 
  %u Или как отбирались лидеры актива учащейся молодёжи по всей Ульяновской области
%p Конкурс актива учащейся молодёжи «Я-лидер!» в 2013 г. уже одиннадцатый по счёту. Годовой конкурсный цикл событий начинается с отборочного заочного этапа, который носит название «Время быть лидером».
%p 
  %i «Я-лидер!» - это не просто конкурс, а целый комплекс мероприятий, которые позволяют научить молодёжь технологиям лидерства. На разных площадках молодые люди знакомятся с методами командообразования, планирования деятельности, техникой публичных выступлений и управления проектами, что позволяет полноценно готовить лидеров общественного сектора. Образовательная программа конкурса рассчитана таким образом, чтобы последовательно предоставить молодому человеку теоретические знания в области лидерства, проектного менеджмента и дать возможность применить все полученные знания на практике»,
%p - поясняет один из организаторов, Председатель Молодёжного инициативного центра Константин Ильин.
%p Претендовать на победу в конкурсе могут старшеклассники и студенты от 14 до 18 лет включительно. В рамках отборочного этапа всем желающим до 31 января предстояло подготовить и подать творческую работу, раскрывающую тему «Время быть лидером». Это мог быть комикс, объёмная фигура, мультимедийная презентация, видео-ролик, трейлер, эссе, стихи или мн. др.
%p
  %i «Самое первое, так называемое «стартовое», конкурсное испытание позволяет нам оценить умение ребят анализировать информацию. Жюри особо обращает внимание на нестандартный и креативный подход, умение убеждать и раскрывать тему», 
%p - продолжает Ильин.
%p Все свои работы участники готовили и направляли до дня «Х» в Молодёжный инициативный центр. Запуск этого ресурса в 2014 г. позволит загружать все работы с помощью созданной на нём интернет-системы  приёма файлов.
%p Параллельно подобному «аналитическому» этапу МИЦ всегда проводит и очные отборочные испытания.  «Путёвку» в следующий этап конкурса получают активные участники наших выездных семинаров по направлению «Лидерство» или мероприятий местных отделений, проводимых в разных районах Ульяновской области.
%p В 2013 г. в следующий этап «Я-лидера!» - на профильную смену «Ярмарка идей» были допущены 83 человека.
%br
%a.btn.btn-large{:href => "/welcome/second_stage"} Далее
