%h1 Этапы конкурса
%h2 2. «Ярмарка идей»
%h4
  %u Этап, где мы учились
%p С 07 по 11 апреля 2013 г. под г.Димитровградом в оздоровительно-образовательном центре «Юность» состоялась образовательная профильная смена «Ярмарка идей». В её названии не зря использовано именно слово «ярмарка». На этом мероприятии ребята учатся генерировать идеи, предлагать проекты, участвовать и самим инициировать мозговые штурмы, условно предоставляя свои задумки на суд общества.
%p Главная задача «Ярмарки идей» - дать знания в сфере лидерства, командообразования, научить молодых людей разрешать конфликтные ситуации, возникающие во временном коллективе, познакомить с принципами распределения обязанностей и мн.мн.др.
%p Программа профильной смены строится по технологии полного погружения. По приезду в «Юность» все участники конкурса становятся студентами условно созданного Университета современного лидерства, получают студенческие билеты и зачётные книжки.
%p В дальнейшем распорядок каждого дня будет строиться исходя из 3 блоков: первая половина дня – общеобразовательные предметы, пару часов во второй половине дня – знакомство с профильными дисциплинами, вечер – время для отработки полученных знаний на практике.  В нашем Университете ребята получали знания, не входящие в общеобразовательную программу школ. Это были не скучные лекции,  а тренинговые и игровые мероприятия, которые позволяют усваивать больше информации буквально становясь главным действующим лицом.
%p В последний день смены всем участникам, как и в университете, предстояло побегать и проставить у преподавателей зачёты по общеобразовательным предметам и сдать настоящий экзамен по профильным дисциплинам. Успешно выполнившие это задание получили свидетельства и дипломы об успешном окончании учебной программы.
%p На профильную смену по традиции мы приглашаем не только участников конкурса, но и всех молодых жителей региона – лидеров общественных организаций, демократических республик, объединений.
%p Конкурс есть конкурс. На «Ярмарке идей» участникам предстоит пройти ряд испытаний.
%p
  %h3 
    %u Дискуссионный марафон
%p Тренинговое мероприятие, где в самом начале участники получают маршрутные листы, напечатанные на разных цветах. Цвет соответствует времени года, в котором человек родился. Например: жёлтый, синий, оранжевый или белый. 
%p Сам марафон проходит в три этапа: по 15, 20 и 25 минут. Каждый этап состоит из разного кол-ва площадок. На каждой площадке участникам предстоит выполнить своё задание.  На первый взгляд всё просто, если бы не волшебное слово «комбинации». Что это? У каждой площадки есть свои комбинации, например «1+1», «4+1+1». Право начать прохождение площадки человек получает только приведя с собой то количество людей, которое будет соответствовать указанной комбинации. То есть «1+1» - сам конкурсант должен привести ещё одного человека, родившегося в другом времени года. Комбинация «4+1+1» означает, что конкурсант должен привести с собой 1 человека, родившегося, например, зимой и 4 участников «Ярмарки идей», которые родились летом.
%p Тренинг позволяет жюри оценить коммуникационные навыки конкурсантов, их умение убеждать других пойти за ними, анализировать и отстаивать свою точку зрения уже при прохождении самих этапов.
%p
  %h3
    %u Интеллектуальное шоу
%p В 2013 г. в сценарии интеллектуального шоу было заложено 400 вопросов из самых разных сфер. Подготовиться к нему заранее практически невозможно. Чтобы победить человек должен заранее развивать свой кругозор.
%p В начале шоу все участники проходят тестирование. По числу набранных баллов во 2 тур проходят набравшие максимально кол-во правильных ответов. И так на каждом из пяти дальнейших туров производится отсев конкурсантов методом «воронки». В итоге побеждает один. Чем выше уровень до которого ты дошёл, тем выше балл, присвоенный конкурсанту.
%p
  %h3 
    %u Собеседование
%p Это самое сложное для многих конкурсантов испытание. Оно позволяет проверить умение человека самопрезентоваться, отстаивать личную точку зрения, проверить стрессоустойчивость и мн.др.
%p Распорядок «Ярмарки идей» каждый год составляет исходя из принципа – максимального наполнения. В течение одного дня может пройти до пяти крупных мероприятий. К части из них необходима предварительная подготовка. Выполнить все задания можно только в случае, если участники сами придут к мысли о необходимости чёткого разделения функционала и самое главное – смогут договориться внутри своей команды кто и какую роль будет выполнять.

%p Завершается образовательная профильная смена «Ярмарка идей» большим гала-концертом. В 2013 г. с помощью он-лайн трансляции посмотреть его могли все желающие. Именно на концерте закрытия жюри огласило список из 21 фамилии. Эти ребята прошли в следующий этап конкурса, который носит название «Время реальных дел».
%br
%a.btn.btn-large{:href => "/welcome/first_stage"} Назад
%a.btn.btn-large{:href => "/welcome/third_stage"} Далее
