%h1 Этапы конкурса
%h2 «Время быть лидером»
%h4 
  %u Или как отбирались лидеры актива учащейся молодёжи по всей Ульяновской области
%p Конкурс актива учащейся молодёжи «Я-лидер!» в 2013 г. уже одиннадцатый по счёту. Годовой конкурсный цикл событий начинается с отборочного заочного этапа, который носит название «Время быть лидером».
%p 
  %i «Я-лидер!» - это не просто конкурс, а целый комплекс мероприятий, которые позволяют научить молодёжь технологиям лидерства. На разных площадках молодые люди знакомятся с методами командообразования, планирования деятельности, техникой публичных выступлений и управления проектами, что позволяет полноценно готовить лидеров общественного сектора. Образовательная программа конкурса рассчитана таким образом, чтобы последовательно предоставить молодому человеку теоретические знания в области лидерства, проектного менеджмента и дать возможность применить все полученные знания на практике»,
%p - поясняет один из организаторов, Председатель Молодёжного инициативного центра Константин Ильин.
%p Претендовать на победу в конкурсе могут старшеклассники и студенты от 14 до 18 лет включительно. В рамках отборочного этапа всем желающим до 31 января предстояло подготовить и подать творческую работу, раскрывающую тему «Время быть лидером». Это мог быть комикс, объёмная фигура, мультимедийная презентация, видео-ролик, трейлер, эссе, стихи или мн. др.
%p
  %i «Самое первое, так называемое «стартовое», конкурсное испытание позволяет нам оценить умение ребят анализировать информацию. Жюри особо обращает внимание на нестандартный и креативный подход, умение убеждать и раскрывать тему», 
%p - продолжает Ильин.
%p Все свои работы участники готовили и направляли до дня «Х» в Молодёжный инициативный центр. Запуск этого ресурса в 2014 г. позволит загружать все работы с помощью созданной на нём интернет-системы  приёма файлов.
%p Параллельно подобному «аналитическому» этапу МИЦ всегда проводит и очные отборочные испытания.  «Путёвку» в следующий этап конкурса получают активные участники наших выездных семинаров по направлению «Лидерство» или мероприятий местных отделений, проводимых в разных районах Ульяновской области.
%p В 2013 г. в следующий этап «Я-лидера!» - на профильную смену «Ярмарка идей» были допущены 83 человека.

%h2 «Ярмарка идей»
%h4
  %u Этап, где мы учились
%p С 07 по 11 апреля 2013 г. под г.Димитровградом в оздоровительно-образовательном центре «Юность» состоялась образовательная профильная смена «Ярмарка идей». В её названии не зря использовано именно слово «ярмарка». На этом мероприятии ребята учатся генерировать идеи, предлагать проекты, участвовать и самим инициировать мозговые штурмы, условно предоставляя свои задумки на суд общества.
%p Главная задача «Ярмарки идей» - дать знания в сфере лидерства, командообразования, научить молодых людей разрешать конфликтные ситуации, возникающие во временном коллективе, познакомить с принципами распределения обязанностей и мн.мн.др.
%p Программа профильной смены строится по технологии полного погружения. По приезду в «Юность» все участники конкурса становятся студентами условно созданного Университета современного лидерства, получают студенческие билеты и зачётные книжки.
%p В дальнейшем распорядок каждого дня будет строиться исходя из 3 блоков: первая половина дня – общеобразовательные предметы, пару часов во второй половине дня – знакомство с профильными дисциплинами, вечер – время для отработки полученных знаний на практике.  В нашем Университете ребята получали знания, не входящие в общеобразовательную программу школ. Это были не скучные лекции,  а тренинговые и игровые мероприятия, которые позволяют усваивать больше информации буквально становясь главным действующим лицом.
%p В последний день смены всем участникам, как и в университете, предстояло побегать и проставить у преподавателей зачёты по общеобразовательным предметам и сдать настоящий экзамен по профильным дисциплинам. Успешно выполнившие это задание получили свидетельства и дипломы об успешном окончании учебной программы.
%p На профильную смену по традиции мы приглашаем не только участников конкурса, но и всех молодых жителей региона – лидеров общественных организаций, демократических республик, объединений.
%p Конкурс есть конкурс. На «Ярмарке идей» участникам предстоит пройти ряд испытаний.
%p
  %h3 
    %u Дискуссионный марафон
%p Тренинговое мероприятие, где в самом начале участники получают маршрутные листы, напечатанные на разных цветах. Цвет соответствует времени года, в котором человек родился. Например: жёлтый, синий, оранжевый или белый. 
%p Сам марафон проходит в три этапа: по 15, 20 и 25 минут. Каждый этап состоит из разного кол-ва площадок. На каждой площадке участникам предстоит выполнить своё задание.  На первый взгляд всё просто, если бы не волшебное слово «комбинации». Что это? У каждой площадки есть свои комбинации, например «1+1», «4+1+1». Право начать прохождение площадки человек получает только приведя с собой то количество людей, которое будет соответствовать указанной комбинации. То есть «1+1» - сам конкурсант должен привести ещё одного человека, родившегося в другом времени года. Комбинация «4+1+1» означает, что конкурсант должен привести с собой 1 человека, родившегося, например, зимой и 4 участников «Ярмарки идей», которые родились летом.
%p Тренинг позволяет жюри оценить коммуникационные навыки конкурсантов, их умение убеждать других пойти за ними, анализировать и отстаивать свою точку зрения уже при прохождении самих этапов.
%p
  %h3
    %u Интеллектуальное шоу
%p В 2013 г. в сценарии интеллектуального шоу было заложено 400 вопросов из самых разных сфер. Подготовиться к нему заранее практически невозможно. Чтобы победить человек должен заранее развивать свой кругозор.
%p В начале шоу все участники проходят тестирование. По числу набранных баллов во 2 тур проходят набравшие максимально кол-во правильных ответов. И так на каждом из пяти дальнейших туров производится отсев конкурсантов методом «воронки». В итоге побеждает один. Чем выше уровень до которого ты дошёл, тем выше балл, присвоенный конкурсанту.
%p
  %h3 
    %u Собеседование
%p Это самое сложное для многих конкурсантов испытание. Оно позволяет проверить умение человека самопрезентоваться, отстаивать личную точку зрения, проверить стрессоустойчивость и мн.др.
%p Распорядок «Ярмарки идей» каждый год составляет исходя из принципа – максимального наполнения. В течение одного дня может пройти до пяти крупных мероприятий. К части из них необходима предварительная подготовка. Выполнить все задания можно только в случае, если участники сами придут к мысли о необходимости чёткого разделения функционала и самое главное – смогут договориться внутри своей команды кто и какую роль будет выполнять.

%p Завершается образовательная профильная смена «Ярмарка идей» большим гала-концертом. В 2013 г. с помощью он-лайн трансляции посмотреть его могли все желающие. Именно на концерте закрытия жюри огласило список из 21 фамилии. Эти ребята прошли в следующий этап конкурса, который носит название «Время реальных дел».


%p
  %h2 «Время реальных дел»
%p
  %h4
    %u Время, когда пора применять на практике все полученные знания
%p «Время реальных дел» - это 2 уровень II этапа конкурса актива учащейся молодёжи "Я-лидер!". Участвовать в нём могут участники, победившие в XI профильной смене "Ярмарка идей", состоявшейся с 07 по 11 апреля 2013 г. в ДООЦ "Юность".
%p В рамках этапа "Время реальных дел" всем конкурсантам предстоит вернуться в свои муниципальные образования, объединить вокруг себя группу единомышленников. Вместе с ними разработать, организовать и провести собственное мероприятие.
%p Этап "Время реальных дел" проходит в Ульяновской области с 08 апреля 2013 г. по 11 мая 2013 г.
%p Участники должны​ ​​​за неделю сообщить о дате проведения своего мероприятия МИЦ для организации возможного присутствия представителя Оргкомитета, а также для информационного освещения мероприятия. Для этого необходимо направить письмо на почту  ul.molcenter@gmail.com. В нём должно содержаться:
%ol
  %li ФИО конкурсанта
  %li Моб.тел.
  %li Название мероприятия
  %li Цель мероприятия;
  %li Место проведения мероприятия с указанием точного адреса;
  %li Время начала и примерное время окончания.

%p По итогам проведённого мероприятия участники должны представить в Оргкомитет конкурса ​​творческий отчёт, который должен включать в себя:
%ol
  %li Дневник конкурсанта: в нём ​​ты ​описываешь свою подготовку: от формирования команды до организации и проведения мероприятия с указанием конкретных дат;
  %li Фото/видео отчёт с проведённого мероприятия (одно из двух обязательно!);
  %li Списки участников;
  %li Описание проведённого мероприятия с указанием: названия, целей и задач, участников, описания, результатов мероприятия;
  %li Отзывы участников или партнёров;
  %li Другие материалы, которые могут помочь жюри оценить проведённое мероприятие.

%p Форма творческого отчёта не ограничена. Важно указание ​в тв. отчёте ​всех пунктов, приведённых выше.

%p Срок подачи творческого отчёта - не позднее 11 мая 2013 года. Отчёты, полученные после указанной даты, к оценке не допускаются, а участники снимаются с участия в «Я-лидере!»

%p Критерии оценки мероприятий:
%ul
  %li личный вклад конкурсанта в организацию и проведение мероприятия;
  %li разноплановость и эффективность методов работы с участниками мероприятия;
  %li актуальность темы, выбранной для мероприятия;
  %li количество положительных отзывов от участников и гостей мероприятия;
  %li использование новых форм проведения мероприятия;
  %li предварительная работа с командой;
  %li количество участников мероприятия.

%p Оценка творческих отчётов проходит с 11 по 20 мая 2013 г. На основании оценок жюри, 8 лучших конкурсантов допускаются до участия в финальных испытаниях 3 уровня II этапа конкурса.  Их список размещается в этом разделе.
%p Творческие отчёты направляются:
%ol
  %li на адрес:  ul.molcenter@gmail.com
  %li приносятся в офис: г.Ульяновск, ул. Минаева, д.50 (Дворец творчества детей и молодёжи), каб.102. Предварительно позвонить по тел. 8 (8422) 96-43-37;
  %li или на этом сайте
