%h1 Этапы конкурса
%p
  %h2 3. «Время реальных дел»
  = image_tag "4.jpg", width: "430px"
%p
  %h4
    %u Время, когда пора применять на практике все полученные знания
%p «Время реальных дел» - это 2 уровень II этапа конкурса актива учащейся молодёжи "Я-лидер!". Участвовать в нём могут участники, победившие в XI профильной смене "Ярмарка идей", состоявшейся с 07 по 11 апреля 2013 г. в ДООЦ "Юность".
%p В рамках этапа "Время реальных дел" всем конкурсантам предстоит вернуться в свои муниципальные образования, объединить вокруг себя группу единомышленников. Вместе с ними разработать, организовать и провести собственное мероприятие.
%p Этап "Время реальных дел" проходит в Ульяновской области с 08 апреля 2013 г. по 11 мая 2013 г.
%p Участники должны​ ​​​за неделю сообщить о дате проведения своего мероприятия МИЦ для организации возможного присутствия представителя Оргкомитета, а также для информационного освещения мероприятия. Для этого необходимо направить письмо на почту  ul.molcenter@gmail.com. В нём должно содержаться:
%ol
  %li ФИО конкурсанта
  %li Моб.тел.
  %li Название мероприятия
  %li Цель мероприятия;
  %li Место проведения мероприятия с указанием точного адреса;
  %li Время начала и примерное время окончания.

%p По итогам проведённого мероприятия участники должны представить в Оргкомитет конкурса ​​творческий отчёт, который должен включать в себя:
%ol
  %li Дневник конкурсанта: в нём ​​ты ​описываешь свою подготовку: от формирования команды до организации и проведения мероприятия с указанием конкретных дат;
  %li Фото/видео отчёт с проведённого мероприятия (одно из двух обязательно!);
  %li Списки участников;
  %li Описание проведённого мероприятия с указанием: названия, целей и задач, участников, описания, результатов мероприятия;
  %li Отзывы участников или партнёров;
  %li Другие материалы, которые могут помочь жюри оценить проведённое мероприятие.

%p Форма творческого отчёта не ограничена. Важно указание ​в тв. отчёте ​всех пунктов, приведённых выше.

%p Срок подачи творческого отчёта - не позднее 11 мая 2013 года. Отчёты, полученные после указанной даты, к оценке не допускаются, а участники снимаются с участия в «Я-лидере!»

%p Критерии оценки мероприятий:
%ul
  %li личный вклад конкурсанта в организацию и проведение мероприятия;
  %li разноплановость и эффективность методов работы с участниками мероприятия;
  %li актуальность темы, выбранной для мероприятия;
  %li количество положительных отзывов от участников и гостей мероприятия;
  %li использование новых форм проведения мероприятия;
  %li предварительная работа с командой;
  %li количество участников мероприятия.

%p Оценка творческих отчётов проходит с 11 по 20 мая 2013 г. На основании оценок жюри, 8 лучших конкурсантов допускаются до участия в финальных испытаниях 3 уровня II этапа конкурса.  Их список размещается в этом разделе.
%p Творческие отчёты направляются:
%ol
  %li на адрес:  ul.molcenter@gmail.com
  %li приносятся в офис: г.Ульяновск, ул. Минаева, д.50 (Дворец творчества детей и молодёжи), каб.102. Предварительно позвонить по тел. 8 (8422) 96-43-37;
  %li или на этом сайте
%a.btn.btn-large{ href: second_stage_welcome_path } Назад
