.page-header
  %h1
    = t('.welcome')
.row-fluid
  .span3
    = link_to t('.begin_to_assess_the_work'), juror_users_path, class: 'btn btn-success btn-large'
  .span3
    = link_to t('sign_out'), juror_session_path, method: :delete, class: 'btn btn-danger btn-large'
