.nested_field
  - f.with_options input_html: { class: :span6 } do |f|
    = f.input :full_name
    = f.input :phone
    = f.input :school
    = f.input :group
    -#= link_to_remove_association t('.remove_participant'), f
