.form-label, .form-label-left
  width: 150px !important

.form-line
  padding-top: 12px
  padding-bottom: 12px

.form-label-right
  width: 150px !important

.form-all
  width: 690px
  color: #555 !important
  font-family: 'Lucida Grande'
  font-size: 14px

.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header
  color: #555

.form-line-active
  color: black

.form-all
  margin-left: 0px

.google_map_style
  width: 50%
  height: 300px
  background: #5A8E4A
