body {
  background-color: lightgrey;
}

.logo {
  background-image: url(logo-mic.jpg);
  background-repeat: no-repeat;
  background-size: 90%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.well-small {
  background-color: white;
  text-align: center;
  padding-top: 75px;
  border-radius:20px; 
  -webkit-border-radius:20px; 
  -moz-border-radius:20px; 
  -khtml-border-radius:20px;
}

.nav-pills {
  float: right;
  margin-top: 75px;
}

.nav-pills a {
  color: black;
}

.content {
  border-radius:20px; 
  -webkit-border-radius:20px; 
  -moz-border-radius:20px; 
  -khtml-border-radius:20px;
  background-color: white;
  padding: 20px;
}
