.row-fluid.left_text_align
  %h3 Организаторы
  %a{:href => "http://ulmic.ru"}
    .span2.logo.mic
  %a{:href => "http://mpol.ulgov.ru"}
    .span2.logo.dep
  %a{:href => "http://minobr.ulgov.ru"}
    .span2.logo.gov
.row-fluid
  .offset2
  .span4
    %hr
    %a &copy 
    %a{:href => "http://ulmic.ru"} Молодёжный инициативный центр,
    2013
  %a{:href => "http://vk.com/ulmic"}
    .span1.logo.mini.vk.there_is_margin
  %a{:href => "https://www.facebook.com/molcenter"}
    .span1.logo.mini.facebook.there_is_margin
  %a{:href => "https://twitter.com/ulmicru"}
    .span1.logo.mini.twitter.there_is_margin
  %a{:href => "https://plus.google.com/109518417712111969312/"}
    .span1.logo.mini.gplus.there_is_margin
  %a{:href => "http://www.youtube.com/user/ulmic73"}
    .span1.logo.mini.youtube.there_is_margin
  %a{:href => "https://github.com/ulmic"}
    .span1.logo.mini.github.there_is_margin
