%script{ type: "text/javascript" }
  refrm();
%noscript
  %a{ href: "http://reformal.ru" }
    %img{ src: "http://media.reformal.ru/reformal.png" }
  %a{ href: "http://lider_ulgood.reformal.ru" }
    = t('.reformal_message')
